* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: red;
    box-sizing: border-box;
    padding: 0 calc(100vh - (100vh - 20px));


}

/*Green box*/
.wrap {
    height: calc(100vh - 40px);
    /*width: calc(100vw - 80px);*/
    background: green;
    margin: 20px auto;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    position: relative;


}

/*Blue boxes*/

.blue {
    height: 100%;
    width: 300px;
    background-color: blue;
    display: inline-block;
    white-space: nowrap;
    position: relative;
    margin: auto 10px;
    padding: 0 5px;
    overflow: auto;

}

/*Yellow boxes as default*/
.yellow {
    height: 50px;
    width: 100%;
    background-color: yellow;
    margin: 5px auto;
}

/*Specified features for given yellow boxes*/
.height-100 {
    height: 100px;
}

.height-150 {
    height: 150px;
}

.height-400 {
    height: 400px;
}

/*Second part, including lesson8*/

/*First task */
.blue1 .yellow:nth-child(even) {
    background-image: linear-gradient(white, black);
}

/*Second task*/
.blue1 .yellow:nth-child(odd) {
    background-image: linear-gradient(to top, white, black);
}

/*Third task */
.blue2 .yellow:nth-child(3n+1) {
    background-image: url("https://s00.yaplakal.com/pics/pics_original/5/7/8/13224875.jpg");
    background-size: 300px auto, cover;
    background-position: center;
    border: 3px solid transparent;
    border-image: linear-gradient(to right, red, blue) 1;
}

/*Forth task*/
.blue2 .yellow:not(:nth-child(3n+1)):hover {
    box-shadow: 10px 10px 10px #9e9e9ea8;
    background-color: blue;
    transition: box-shadow 50ms, background-color ease-in 0.5s;
}

/*Fifth task*/

.blue2 .yellow:nth-child(odd) {
    border: 15px dotted black;
}

.blue2 .yellow:nth-child(odd)::before {
    content: 'lorem shorem holem bolem';
    display: flex;
    position: relative;
    justify-content: center;
    color: green;
    font-size: 18px;
    top: 43%;
}

.blue2 .yellow:nth-child(odd):hover {
    border: 15px dotted white;
    transition: all ease-in 2s;
}

/*Sixth task*/
.blue3 .yellow:nth-child(2)::before {
    background-color: rgba(255, 255, 255, 0.8);
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 2s ease-out;
}

.blue3 .yellow:nth-child(2):hover::before {
    transform: translateX(305px) translateY(10px);
    transition: transform 2s ease-in;
}

/*Seventh task*/
.blue4 .yellow:nth-child(even) {
    position: relative;
    background-image: url("https://sandom.net/wa-data/public/shop/products/88/54/5488/images/27033/27033.970.jpg");
    background-size: 10px 10px;
    background-position: left top;
    background-repeat: no-repeat;
}

.blue4 .yellow:nth-child(even):hover {
    position: relative;
    background-image: url("https://sandom.net/wa-data/public/shop/products/88/54/5488/images/27033/27033.970.jpg");
    background-size: 10px 10px;
    background-position: right bottom;
    transition: background-position 3s linear;
}

/*Eight task,part 1*/

.blue5 .yellow:nth-child(1)::before {
    background-color: rgba(255, 255, 255, 0.8);
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 2s ease-out;
}

.blue5 .yellow:nth-child(1):hover::before {
    transform: translateX(305px) translateY(10px);
    transition: transform 2s ease-in;
}

/*Eight task, part 2*/


.blue5 .yellow:not(:nth-child(1)) {
    transition: 0.5s ease-in-out;
}

.blue5 .yellow:not(:nth-child(1)):hover {
    background: red;
    position: relative;
    width: calc(100% - 30px);
    left: -15px;
    top: -30px;
    transition: all 0.5s ease-in-out;
}

.blue5 .yellow:not(:nth-child(1)) {
    transition: 0.5s ease-in-out;
}
